/*手机版图表样式*/
.show-tip {
    position: absolute;
    top: 0px;
    z-index: 999;
    border: 0;
    padding: 10px;
    border-radius: 7px;
    background-color: #17b03e;
    color: #fff;
    font-size: 16px;
    font-weight: lighter;
    font-family: 'Microsoft Yahei';
   
}
.show-tip .span-price{
	font-size: 22px;
}
.show-tip span{
	font-size: 14px;height:25px;line-height:25px;
    white-space: nowrap;
}

.tip-line-1,.tip-line-2{
	height:25px;
	line-height:25px;
}

.show-tip .span-time-c1{
	text-align: left;
	margin-right: 10px;
}
.show-tip .span-time-c2{
	text-align: right;
}

.show-tip .span-k-c1{
	text-align: left;
	margin-right: 10px;
}
.show-tip .span-k-c2{
	text-align: right;
}


.cross-y{
	position:absolute;top:0px;z-index:98;border-left:1px dashed #8f8f8f;width:0px;background-color:#fff;
}
.cross-x{
	position:absolute;left:0px;z-index:98;border-top:1px dashed #8f8f8f;height:0px;
}
.cross-p{
	position:absolute;z-index:100;
}
.mark-ma{
	position:absolute;top:0px;right:0px;z-index:97;border:0;height:30px;line-height:30px;font-family:Microsoft Yahei;font-weight:lighter;
}
.mark-ma span {
	display:inline-block;padding-right:10px;font-size:14px;text-align:left;color:#ffba42;
}

.mark-ma .span-m5{
	color:#f4cb15;
}
.mark-ma .span-m10{
	color:#ff5b10;
}
.mark-ma .span-m20{
	color:#488ee6;
}
.mark-ma .span-m30{
	color:#fe59fe;
}

/* 技术指标的样式 */
.markTContainer{
	position: absolute;
	font-family: 'Microsoft Yahei';
	font-weight: lighter;
	font-size: 14px;
}
.markTContainer span{
	min-width: 150px;
	display: inline-block;
	*display: inline;
	*zoom:1;
}

.scale-div{
	position:absolute;z-index:99;border:0px;width:90px;height:45px;
	opacity:0.7;
}
.scale-div .span-minus{
	width: 30px;height: 30px;float: left;border-radius: 6px;
	background: url(../images/minus.png) no-repeat center center #cccccc;
}
.scale-div .span-plus{
	width: 30px;height: 30px;float: right;border-radius: 6px;
	background: url(../images/plus.png) no-repeat center center #cccccc;
}
.scale-opacity{
	opacity:0.3;
}

.header .tool-bar{
    background: -webkit-linear-gradient(top, #4d74ae, #2e5186); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom, #4d74ae, #2e5186); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom, #4d74ae, #2e5186); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom, #4d74ae, #2e5186); /* 标准的语法 */
	background:#2e5186;
	height:70px;
}
.header .sepe{
	height:50px;
	background-color: #d1e1f9;
}
.content{
	background-color: #f2f2f2;
}

.content .emchart{
	background-color: #fff;
	padding:0px 10px;
}

.tabs{
	background-color: #fff;
	height:50px;
	font-size: 18px;
	color:#000;
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
}
.tabs .tab{
	float:left;
	width: 25%;
	height: 47px;
	line-height: 47px;
	text-align: center;
}
.tabs .tab.current{
	color: #2f5895;
	border-bottom: 3px solid #2f5895;
}

.loading-chart {
	position: absolute;
	left:0;
	top:0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: #fff;
	text-align: center;

    opacity: 0.7;
    font-size: 20px;
}

.delay-div{
	position: absolute;
	left:0;
	top:0;
	z-index: 10000;
	width: 100%;
	height: 100%;
	background-color: #fff;
    opacity: 0;
}

.mark-point{
	position: absolute;
	z-index: 97;
	min-width: 15px;
	min-height: 15px;
	border-radius: 10px;
	background: url(../images/bang-26-26.png) no-repeat center center/15px 15px #fff;
	opacity: 1;
}


/*web港股的样式*/
.web-tips{
	display: none;
	left: -10000px;
	top: -10000px;
	position: absolute;
	text-align: left;
	background-color: #898989;
	border-radius: 2px;
	z-index: 10000;
	display: inline-block;
	color: white;
	font-size: 12px;
	text-align: center;
	padding: 2px;
	white-space:nowrap;
}
.web-middleLine{
	display: none;
	position: absolute;
	width: 0px;
	border-right: dashed 1px #898989;
}

.tech-index{
	position:absolute;
	z-index: 99;
}

.tech-index-item{
	background-color: #707070;
	float:left;
	text-align: center;
	color:#fff;
	cursor: pointer;
}

.tech-index .current{
	background-color: #c2c2c2;
	color:#707070;
}


/*web版图表样式*/
.canvas-container{
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.web-show-tip {
	position: absolute;
	top: 0px;
	background-color: red;
	z-index: 999;
	border: 1px solid #97c8ff;
	/*padding: 8px;*/
	box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
	background-color: #fff;
	color: #666;
	width: 120px;
	font-size: 12px;
	font-weight: lighter;
	font-family: 'arial';

}

.web-tip-line-left{
	float: left;
	width:50%;
	text-align: left;
	height:20px;
	line-height: 20px;

	*height:15px;
	*line-height: 15px;
}

.web-tip-line-right{
	float: left;
	width:50%;
	text-align: right;
	height:20px;
	line-height: 20px;
	
	*height:15px;
	*line-height: 15px;
}

.web-tip-first-line{
	width:100%;
	background: #edf5ff;
	height:30px;
	line-height: 30px;
	text-align: center;
}

.web-tip-line-container{
	padding:8px;
	*margin-bottom: 8px;
}

.time-tips-coordinate{
	display: none;
	position: absolute;
	padding: 0px 3px;
	font-size: 14px;
	background-color: #aaa;
	color: white;
	z-index: 1000;
}
.time-tips-top{
	display: none;
	font-size: 14px;
	color: #888;
	position: absolute;
	top: 0px;
}

/* web 版 分时图盘口异动样式 */
.timeChangeMainPad {
    border: solid #65CAFE 1px;
    position: absolute;
    top: 100px;
    left: 100px;
    font-size: 12px;
    color: #555;
    background-color: white;
    z-index: 100;
}
.timeChangeTriangle{
	position: absolute;
    left: 70px;
    top: -6px;
	width: 10px;
	height: 10px;
	background-color: #D1E7FF;
	border-left: solid 1px #65CAFE;
	border-top: solid 1px #65CAFE;
	-webkit-transform: rotate(45deg);    /* for Chrome || Safari */
	-moz-transform: rotate(45deg);       /* for Firefox */
	-ms-transform: rotate(45deg);        /* for IE */
	o-transform: rotate(45deg);         /* for Opera */
}
.timeChangeTable{
	width: 170px;
	height: 50px;
    table-layout: fixed;
}
.timeChangeHeader{
	background-color: #D1E7FF;
  	text-align: center;
    width: 170px;
	padding: 5px 0px;
	font-size: 14px;          
}

/* web版 k线图指标样式 */

.kt-pad {
    position: absolute;
    color: #5F5F5F;
    margin-left: 15px;
    min-width: 70px;
}

.kt-title {
    margin-bottom: 5px;
    font-size: 14px;
}

.kt-line {
    background-color: white; position: relative; margin: 10px 0px;
}

.kt-line:hover{
    cursor: pointer;
}

.kt-radio-wrap{
	position: relative; display: inline-block; *zoom:1;*display:inline; border: solid 1px #305896;height: 10px; width: 10px;background-color: white;
}

.kt-radio {
    position:absolute; margin: 2px; width: 6px; height: 6px; background-color: #305896;display: none;
}

.kt-name {
    color: #555;line-height: 10px;display: inline-block; height: 10px;padding-left: 5px;position: absolute; top: 3px; left: 15px;
}

.kt-radio-choose {
    display: block;
}

/* web k 线的滑动 */
.slideBarCVS{
	background-color: white;
	outline: solid 1px #E9E9E9;

}

.leftDrag{
	background-color: white;
	opacity: 2;
	filter: alpha(opacity=200);
}
.leftDrag:hover{
	cursor: w-resize;
}

.rightDrag{
	background-color: white;
}
.rightDrag:hover{cursor: e-resize;}
.containerBar{
	background-color: #e0e0e0;
	opacity: 0.5;
	filter: alpha(opacity=50%);
	border:solid 1px #35709C;
}
.containerBar:hover{cursor: move;}

.preference-container{
	position: absolute;
	z-index: 101;
}
.preference-shade{
	background-color: #333;
	opacity: 0.5;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	width:100%;
	height: 100%;
}
.preference-handle{
	position:absolute;
	z-index: 101;
	background-color: #fff;
	border: 1px solid #e6e6e6;
	border-left: 0;
	width:40px;
	height: 50px;
	line-height: 25px;
	padding:5px;
	padding-left: 7px;
	cursor: pointer;
	
}
.set-tab{
	border-bottom:1px solid #4267A0;
	height:30px;
}
.ma-tab{
	float:left;
	width:50%;
	height:30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}
.set-tab .current{
	background-color: #4267A0;
	color:#fff;
}
.right-tab{
	float:left;
	width:50%;
	height:30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}

.set-container{
	position: absolute;
	z-index: 103;
	background-color: #fff;
	margin-left: 100px;
	width:300px;
	height:220px;
}

.pre-notice{
	height:20px;
	line-height: 20px;
	text-align: center;
	margin: 5px 0px;
}
.ma-item{
	height: 27px;
	line-height: 30px;
	padding-left: 15px;
}
.setting-span-ma5{
	background-color:#f4cb15;
}
.setting-span-ma10{
	background-color:#ff5b10;
}
.setting-span-ma20{
	background-color:#488ee6;
}
.setting-span-ma30{
	background-color:#fe59fe;
}

.span-setting{
	display: inline-block;
	*display: inline;
	*zoom:1;
	height: 15px;
	width:15px;
}
.item-span{
	
}

.right-panel{
	text-align: center;
}
.right-panel-form{
	text-align: left;
	width: 160px;
	margin: 20px auto;
	line-height: 1.8;
}
/*.right-panel-btn{
	border: none;
	padding: 5px 15px;
	margin: 10px 27px;
	background-color: #4267A0;
	color: white;
}
*/

.confirm-btn{
	float:left;
	border: none;
	margin-left:30px;
	margin-top:10px;
	width:80px;
	height: 30px;
	line-height: 30px;
	background-color: #4267A0;
	color: white;
}
.cancle-btn{
	float:right;
	border: none;
	margin-right:30px;
	margin-top:10px;
	width:80px;
	height: 30px;
	line-height: 30px;
	background-color: #4267A0;
	color: white;
}

.colorPad{
	display: none;
	position: absolute;
	top: 120px;
	left: 120px;
	background-color: white;
}
.colorPadTriangle{
	position: absolute;
	top: 9px;
	left: -12px;
	width: 16px;
	height: 11px;
	*display: none;
	background-color: white;
	overflow: hidden;
	z-index: 100;
}
.colorPadTriangle .up{
	position: absolute;
	top: 2px;
	left: 3px;
	width: 12px;
	height: 10px;
	border-top: solid 1px #aaa;
	background-color: white;
	-webkit-transform: rotate(-25deg);    /* for Chrome || Safari */
	-moz-transform: rotate(-25deg);       /* for Firefox */
	-ms-transform: rotate(-25deg);        /* for IE */
	o-transform: rotate(-25deg);         /* for Opera */
	*display: none;
	z-index: 10;
}
.colorPadTriangle .down{
	position: absolute;
	top: 7px;
	left: -1px;
	width: 12px;
	height: 10px;
	border-top: solid 1px #aaa;
	background-color: white;
	-webkit-transform: rotate(25deg);    /* for Chrome || Safari */
	-moz-transform: rotate(25deg);       /* for Firefox */
	-ms-transform: rotate(25deg);        /* for IE */
	o-transform: rotate(25deg);         /* for Opera */
	*display: none;
	z-index: 10;
}
.colorTable{
	width: 100px;
	height:90px;
	border: solid 1px #aaa; 
}
.colorTable td{
	position: relative;
	z-index: 100;
	border: solid 3px #fff;
}
.ma-panel{
	position: relative;
}
.ma-item-input{
	width:20px;
	height: 15px;
	line-height: 15px;
}